# Q1: SQL with pandas
* <a href="https://pandas.pydata.org/docs/getting_started/comparison/comparison_with_sql.html#comparison-with-sql">Pandas Comparison with SQL</a>
* <a href="https://pandas.pydata.org/docs/user_guide/10min.html#min">10 minutes to pandas-Basic functions of Pandas</a>

In [4]:
import numpy as np
import pandas as pd

In [26]:
url = (
    "https://raw.githubusercontent.com/pandas-dev"
    "/pandas/main/pandas/tests/io/data/csv/tips.csv"
)

tips = pd.read_csv(url)
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [27]:
tips.reset_index(inplace=True)
tips.rename(columns={"index": "user_id"}, inplace=True)
tips.head()

   user_id  total_bill   tip     sex smoker  day    time  size
0        0       16.99  1.01  Female     No  Sun  Dinner     2
1        1       10.34  1.66    Male     No  Sun  Dinner     3
2        2       21.01  3.50    Male     No  Sun  Dinner     3
3        3       23.68  3.31    Male     No  Sun  Dinner     2
4        4       24.59  3.61  Female     No  Sun  Dinner     4

In [28]:
tips["id"] = np.random.randint(1, 10, len(tips))
display(tips)

     user_id  total_bill   tip     sex smoker   day    time  size  id
0          0       16.99  1.01  Female     No   Sun  Dinner     2   5
1          1       10.34  1.66    Male     No   Sun  Dinner     3   6
2          2       21.01  3.50    Male     No   Sun  Dinner     3   1
3          3       23.68  3.31    Male     No   Sun  Dinner     2   7
4          4       24.59  3.61  Female     No   Sun  Dinner     4   7
..       ...         ...   ...     ...    ...   ...     ...   ...  ..
239      239       29.03  5.92    Male     No   Sat  Dinner     3   5
240      240       27.18  2.00  Female    Yes   Sat  Dinner     2   3
241      241       22.67  2.00    Male    Yes   Sat  Dinner     2   5
242      242       17.82  1.75    Male     No   Sat  Dinner     2   7
243      243       18.78  3.00  Female     No  Thur  Dinner     2   1

[244 rows x 9 columns]

In [31]:
from datetime import date, timedelta
import numpy as np

# initializing dates ranges
test_date1, test_date2 = date(2015, 6, 3), date(2024, 7, 1)

# printing dates
print("The original range : " + str(test_date1) + " " + str(test_date2))

# initializing K
K = len(tips)

# getting days between dates
dates_bet = test_date2 - test_date1
total_days = dates_bet.days

# create an array of total days and select K random values without replacement
randays = np.random.choice(total_days, K, replace=False)

# getting random dates
res = [test_date1 + timedelta(days=int(day)) for day in randays]
print(len(res))

# printing
print("K random dates in range : " + str(res))

The original range : 2015-06-03 2024-07-01
244
K random dates in range : [datetime.date(2015, 7, 14), datetime.date(2024, 6, 12), datetime.date(2018, 6, 1), datetime.date(2024, 4, 20), datetime.date(2015, 6, 28), datetime.date(2022, 1, 20), datetime.date(2018, 12, 5), datetime.date(2016, 2, 18), datetime.date(2019, 7, 15), datetime.date(2016, 1, 7), datetime.date(2015, 7, 13), datetime.date(2022, 9, 10), datetime.date(2020, 9, 15), datetime.date(2017, 5, 16), datetime.date(2023, 8, 2), datetime.date(2018, 8, 10), datetime.date(2015, 7, 27), datetime.date(2023, 3, 19), datetime.date(2018, 1, 30), datetime.date(2017, 1, 21), datetime.date(2020, 9, 24), datetime.date(2017, 9, 28), datetime.date(2020, 12, 2), datetime.date(2021, 10, 20), datetime.date(2023, 4, 9), datetime.date(2015, 8, 15), datetime.date(2018, 11, 18), datetime.date(2015, 10, 9), datetime.date(2015, 7, 17), datetime.date(2016, 2, 2), datetime.date(2021, 11, 8), datetime.date(2018, 11, 26), datetime.date(2018, 7, 9), datetime.date(2017, 5, 31), datetime.date(2017, 9, 12), datetime.date(2024, 3, 4), datetime.date(2020, 10, 19), datetime.date(2022, 4, 3), datetime.date(2021, 2, 26), datetime.date(2019, 12, 10), datetime.date(2016, 7, 27), datetime.date(2017, 1, 28), datetime.date(2016, 3, 31), datetime.date(2018, 2, 14), datetime.date(2019, 10, 11), datetime.date(2017, 7, 5), datetime.date(2022, 2, 28), datetime.date(2019, 8, 21), datetime.date(2020, 8, 26), datetime.date(2017, 7, 9), datetime.date(2018, 4, 1), datetime.date(2016, 5, 29), datetime.date(2020, 11, 11), datetime.date(2017, 4, 20), datetime.date(2019, 12, 5), datetime.date(2016, 10, 1), datetime.date(2019, 10, 12), datetime.date(2023, 9, 19), datetime.date(2019, 3, 8), datetime.date(2024, 6, 19), datetime.date(2023, 1, 2), datetime.date(2016, 7, 12), datetime.date(2016, 8, 18), datetime.date(2024, 5, 26), datetime.date(2017, 4, 28), datetime.date(2022, 5, 27), datetime.date(2021, 2, 1), datetime.date(2020, 2, 22), datetime.date(2020, 8, 13), datetime.date(2021, 8, 7), datetime.date(2015, 9, 6), datetime.date(2023, 9, 27), datetime.date(2017, 11, 19), datetime.date(2021, 2, 25), datetime.date(2017, 8, 31), datetime.date(2017, 12, 19), datetime.date(2024, 6, 29), datetime.date(2021, 4, 23), datetime.date(2022, 10, 16), datetime.date(2016, 2, 3), datetime.date(2019, 10, 10), datetime.date(2018, 1, 6), datetime.date(2021, 2, 11), datetime.date(2015, 12, 25), datetime.date(2015, 12, 24), datetime.date(2015, 9, 8), datetime.date(2017, 1, 13), datetime.date(2016, 5, 14), datetime.date(2018, 9, 15), datetime.date(2018, 6, 2), datetime.date(2017, 6, 10), datetime.date(2023, 5, 31), datetime.date(2016, 3, 28), datetime.date(2020, 1, 4), datetime.date(2017, 4, 7), datetime.date(2021, 12, 18), datetime.date(2023, 3, 8), datetime.date(2023, 4, 1), datetime.date(2023, 4, 18), datetime.date(2020, 4, 22), datetime.date(2020, 4, 28), datetime.date(2024, 5, 11), datetime.date(2017, 4, 13), datetime.date(2020, 11, 13), datetime.date(2020, 4, 9), datetime.date(2018, 1, 13), datetime.date(2020, 2, 2), datetime.date(2024, 6, 14), datetime.date(2023, 5, 11), datetime.date(2017, 2, 6), datetime.date(2021, 8, 21), datetime.date(2017, 1, 27), datetime.date(2023, 9, 14), datetime.date(2020, 7, 4), datetime.date(2019, 9, 28), datetime.date(2022, 1, 25), datetime.date(2023, 9, 25), datetime.date(2016, 1, 30), datetime.date(2020, 3, 16), datetime.date(2024, 4, 2), datetime.date(2018, 2, 1), datetime.date(2021, 9, 6), datetime.date(2018, 10, 23), datetime.date(2016, 4, 8), datetime.date(2015, 12, 13), datetime.date(2018, 3, 3), datetime.date(2023, 8, 1), datetime.date(2024, 2, 16), datetime.date(2019, 10, 18), datetime.date(2017, 10, 24), datetime.date(2023, 5, 19), datetime.date(2022, 12, 3), datetime.date(2016, 12, 18), datetime.date(2019, 8, 2), datetime.date(2021, 11, 20), datetime.date(2017, 10, 2), datetime.date(2020, 7, 26), datetime.date(2016, 9, 21), datetime.date(2022, 1, 16), datetime.date(2018, 9, 25), datetime.date(2021, 11, 29), datetime.date(2019, 6, 3), datetime.date(2019, 7, 30), datetime.date(2023, 6, 28), datetime.date(2024, 1, 22), datetime.date(2020, 6, 30), datetime.date(2023, 3, 26), datetime.date(2021, 10, 14), datetime.date(2015, 11, 11), datetime.date(2020, 9, 17), datetime.date(2024, 2, 21), datetime.date(2019, 12, 27), datetime.date(2020, 11, 22), datetime.date(2020, 3, 29), datetime.date(2018, 7, 26), datetime.date(2016, 9, 16), datetime.date(2015, 6, 15), datetime.date(2023, 12, 11), datetime.date(2018, 10, 25), datetime.date(2022, 3, 3), datetime.date(2019, 9, 24), datetime.date(2022, 1, 24), datetime.date(2018, 3, 6), datetime.date(2023, 4, 25), datetime.date(2016, 6, 13), datetime.date(2023, 10, 19), datetime.date(2017, 9, 23), datetime.date(2016, 5, 18), datetime.date(2023, 6, 1), datetime.date(2015, 10, 1), datetime.date(2021, 4, 11), datetime.date(2015, 12, 11), datetime.date(2017, 2, 22), datetime.date(2020, 5, 21), datetime.date(2019, 8, 15), datetime.date(2018, 3, 24), datetime.date(2016, 10, 11), datetime.date(2021, 1, 25), datetime.date(2019, 8, 16), datetime.date(2022, 12, 6), datetime.date(2017, 12, 1), datetime.date(2016, 6, 19), datetime.date(2017, 5, 7), datetime.date(2021, 6, 2), datetime.date(2021, 2, 3), datetime.date(2019, 1, 25), datetime.date(2022, 7, 26), datetime.date(2024, 4, 27), datetime.date(2018, 2, 8), datetime.date(2021, 2, 22), datetime.date(2018, 7, 21), datetime.date(2018, 2, 26), datetime.date(2022, 4, 26), datetime.date(2017, 3, 11), datetime.date(2023, 6, 25), datetime.date(2017, 9, 6), datetime.date(2018, 5, 26), datetime.date(2020, 10, 8), datetime.date(2020, 7, 9), datetime.date(2022, 5, 23), datetime.date(2018, 8, 29), datetime.date(2020, 2, 15), datetime.date(2019, 12, 12), datetime.date(2023, 11, 29), datetime.date(2015, 6, 17), datetime.date(2020, 10, 25), datetime.date(2019, 1, 20), datetime.date(2019, 2, 19), datetime.date(2017, 8, 13), datetime.date(2022, 10, 2), datetime.date(2019, 2, 4), datetime.date(2019, 12, 21), datetime.date(2019, 9, 29), datetime.date(2017, 11, 21), datetime.date(2019, 2, 28), datetime.date(2017, 7, 8), datetime.date(2018, 2, 18), datetime.date(2018, 9, 16), datetime.date(2020, 11, 1), datetime.date(2023, 5, 7), datetime.date(2021, 8, 8), datetime.date(2022, 12, 27), datetime.date(2015, 7, 22), datetime.date(2019, 11, 14), datetime.date(2022, 4, 10), datetime.date(2020, 11, 30), datetime.date(2019, 4, 19), datetime.date(2017, 3, 21), datetime.date(2022, 5, 6), datetime.date(2017, 8, 10), datetime.date(2024, 4, 23), datetime.date(2020, 12, 31), datetime.date(2022, 1, 10), datetime.date(2018, 5, 11), datetime.date(2019, 7, 29), datetime.date(2024, 5, 3), datetime.date(2021, 1, 6), datetime.date(2018, 3, 21), datetime.date(2015, 7, 3), datetime.date(2022, 12, 31), datetime.date(2017, 12, 4), datetime.date(2018, 10, 7), datetime.date(2021, 8, 22), datetime.date(2018, 3, 25)]

In [33]:
tips["created_at"] = res
display(tips.head())

   user_id  total_bill   tip     sex smoker  day    time  size  id  created_at
0        0       16.99  1.01  Female     No  Sun  Dinner     2   5  2015-07-14
1        1       10.34  1.66    Male     No  Sun  Dinner     3   6  2024-06-12
2        2       21.01  3.50    Male     No  Sun  Dinner     3   1  2018-06-01
3        3       23.68  3.31    Male     No  Sun  Dinner     2   7  2024-04-20
4        4       24.59  3.61  Female     No  Sun  Dinner     4   7  2015-06-28

2. table 주고

    user-id, 무슨_id를 기준 group by,

    created_at 기준으로 sort한 것 중 가장 최신 데이터를

    user_id, 무슨_id, score, created_at 순서로 출력

In [54]:
grouped["total"] = tips.groupby(["user_id", "id"])["tip"].sum()
display(grouped)

            total
user_id id
0       5    1.01
1       6    1.66
2       1    3.50
3       7    3.31
4       7    3.61
...           ...
239     5    5.92
240     3    2.00
241     5    2.00
242     7    1.75
243     1    3.00

[244 rows x 1 columns]

In [58]:
grouped_merge = pd.merge(grouped, tips, on="user_id")[["user_id", "id", "created_at", "total", "tip"]]
display(grouped_merge)

     user_id  id  created_at  total   tip
0          0   5  2015-07-14   1.01  1.01
1          1   6  2024-06-12   1.66  1.66
2          2   1  2018-06-01   3.50  3.50
3          3   7  2024-04-20   3.31  3.31
4          4   7  2015-06-28   3.61  3.61
..       ...  ..         ...    ...   ...
239      239   5  2022-12-31   5.92  5.92
240      240   3  2017-12-04   2.00  2.00
241      241   5  2018-10-07   2.00  2.00
242      242   7  2021-08-22   1.75  1.75
243      243   1  2018-03-25   3.00  3.00

[244 rows x 5 columns]

In [64]:
grouped_merge.sort_values(["user_id", "id", "total", "created_at"], ascending=False)

     user_id  id  created_at  total   tip
243      243   1  2018-03-25   3.00  3.00
242      242   7  2021-08-22   1.75  1.75
241      241   5  2018-10-07   2.00  2.00
240      240   3  2017-12-04   2.00  2.00
239      239   5  2022-12-31   5.92  5.92
..       ...  ..         ...    ...   ...
4          4   7  2015-06-28   3.61  3.61
3          3   7  2024-04-20   3.31  3.31
2          2   1  2018-06-01   3.50  3.50
1          1   6  2024-06-12   1.66  1.66
0          0   5  2015-07-14   1.01  1.01

[244 rows x 5 columns]