In [1]:
import pandas as pd
import numpy as np

In [89]:
employees = ["A", "B", "C", "a", "b", "c", "d", "e", "f", "g", "h", "i", "j"]
salary = [None, None, None, 0, 100, 200, 300, 400, 500, 600, 700, 800, 900]
df = pd.DataFrame(
    {"Name": employees, "Salary": salary}
)
# 결측치를 지정하고 싶다면, 넘파이를 임포트하여 np.nan을 통해 쉽게 지정
df["location"] = np.nan

display(df)

   Name  Salary  location
0     A     NaN       NaN
1     B     NaN       NaN
2     C     NaN       NaN
3     a     0.0       NaN
4     b   100.0       NaN
5     c   200.0       NaN
6     d   300.0       NaN
7     e   400.0       NaN
8     f   500.0       NaN
9     g   600.0       NaN
10    h   700.0       NaN
11    i   800.0       NaN
12    j   900.0       NaN

* null value 채우기
    * column의 null 값을 제외한 나머지 중, 하위 10%, 상위 10%를 제외한 평균으로 값을 채워라
    * 채운 값을 이용해서 연산하여 다른 column을 채워라

In [93]:
custom_fill = df["Salary"][(df.Salary > df.Salary.quantile(.1)) & (df.Salary < df.Salary.quantile(.9))].mean()
print(custom_fill)
df["new_Salary"] = df["Salary"].fillna(custom_fill)
display(df)

450.0

   Name  Salary  location  new_Salary Salary_Range    450_perc     Range_perc
0     A     NaN       NaN       450.0       group3    0.230769       0.384615
1     B     NaN       NaN       450.0       group3    0.230769       0.384615
2     C     NaN       NaN       450.0       group3    0.230769       0.384615
3     a     0.0       NaN         0.0         None    0.000000  not available
4     b   100.0       NaN       100.0       group1  100.000000       0.153846
5     c   200.0       NaN       200.0       group1  200.000000       0.153846
6     d   300.0       NaN       300.0       group2  300.000000       0.153846
7     e   400.0       NaN       400.0       group2  400.000000       0.153846
8     f   500.0       NaN       500.0       group3  500.000000       0.384615
9     g   600.0       NaN       600.0       group3  600.000000       0.384615
10    h   700.0       NaN       700.0       group4  700.000000       0.230769
11    i   800.0       NaN       800.0       group4  800.000000       0.230769
12    j   900.0       NaN       900.0       group4  900.000000       0.230769

* column의 값이 (0, 200], (200, 400], (400, 600], (600, inf]에 해당하면
각각 “group1”, “group2”, “group3”, “group4”의 값을 갖도록 새로운 column을 만들어라
<a href="https://www.delftstack.com/ko/howto/python-pandas/how-to-create-dataframe-column-based-on-given-condition-in-pandas/">Pandas에서 주어진 조건에 따라 DataFrame 열을 만드는 방법</a>

In [91]:
def set_values(row, value):
    if 0 < row <= 200:
        return value[200]
    if 200 < row <= 400:
        return value[400]
    if 400 < row <= 600:
        return value[600]
    if 600 < row:
        return value[np.inf]

map_dictionary = {200: "group1", 400: "group2", 600: "group3", np.inf: "group4"}

df["Salary_Range"] = df["new_Salary"].apply(set_values, args=(map_dictionary,))
display(df)

   Name  Salary  location  new_Salary Salary_Range
0     A     NaN       NaN       450.0       group3
1     B     NaN       NaN       450.0       group3
2     C     NaN       NaN       450.0       group3
3     a     0.0       NaN         0.0         None
4     b   100.0       NaN       100.0       group1
5     c   200.0       NaN       200.0       group1
6     d   300.0       NaN       300.0       group2
7     e   400.0       NaN       400.0       group2
8     f   500.0       NaN       500.0       group3
9     g   600.0       NaN       600.0       group3
10    h   700.0       NaN       700.0       group4
11    i   800.0       NaN       800.0       group4
12    j   900.0       NaN       900.0       group4

column에서 (특정 값을 가지는 row의 수) / (전체 row 수) * 100를 소수점 아래 자리가 없는 정수로 반환하라
<a href="https://rfriend.tistory.com/450">Python pandas DataFrame, Series의 행, 열 개수 세기</a>

In [92]:
# np.where(condition, x, y) : if condition is true return x, else return y
df["450_perc"] = np.where(df["new_Salary"] == 450, len(df[df["new_Salary"] == 450]) / len(df), df["new_Salary"])
display(df)

print(len(df["Salary_Range"]))
print(df.groupby("Salary_Range").size())
def custom_perc(range):
    df_range_perc = df.groupby("Salary_Range").size() / len(df["Salary_Range"])
    if range in df_range_perc:
        return df_range_perc[range]
    else:
        return "not available"

df["Range_perc"] = df["Salary_Range"].apply(custom_perc)
display(df)

   Name  Salary  location  new_Salary Salary_Range    450_perc
0     A     NaN       NaN       450.0       group3    0.230769
1     B     NaN       NaN       450.0       group3    0.230769
2     C     NaN       NaN       450.0       group3    0.230769
3     a     0.0       NaN         0.0         None    0.000000
4     b   100.0       NaN       100.0       group1  100.000000
5     c   200.0       NaN       200.0       group1  200.000000
6     d   300.0       NaN       300.0       group2  300.000000
7     e   400.0       NaN       400.0       group2  400.000000
8     f   500.0       NaN       500.0       group3  500.000000
9     g   600.0       NaN       600.0       group3  600.000000
10    h   700.0       NaN       700.0       group4  700.000000
11    i   800.0       NaN       800.0       group4  800.000000
12    j   900.0       NaN       900.0       group4  900.000000

13
Salary_Range
group1    2
group2    2
group3    5
group4    3
dtype: int64

   Name  Salary  location  new_Salary Salary_Range    450_perc     Range_perc
0     A     NaN       NaN       450.0       group3    0.230769       0.384615
1     B     NaN       NaN       450.0       group3    0.230769       0.384615
2     C     NaN       NaN       450.0       group3    0.230769       0.384615
3     a     0.0       NaN         0.0         None    0.000000  not available
4     b   100.0       NaN       100.0       group1  100.000000       0.153846
5     c   200.0       NaN       200.0       group1  200.000000       0.153846
6     d   300.0       NaN       300.0       group2  300.000000       0.153846
7     e   400.0       NaN       400.0       group2  400.000000       0.153846
8     f   500.0       NaN       500.0       group3  500.000000       0.384615
9     g   600.0       NaN       600.0       group3  600.000000       0.384615
10    h   700.0       NaN       700.0       group4  700.000000       0.230769
11    i   800.0       NaN       800.0       group4  800.000000       0.230769
12    j   900.0       NaN       900.0       group4  900.000000       0.230769

* DataFrame Join
* DataFrame Group by